---
http_interactions:
- request:
    method: post
    uri: https://typekit.com/api/v1/json/kits
    body:
      encoding: US-ASCII
      string: name=A+new+kit&domains=http%3A%2F%2Fpersazula.com
    headers:
      X-Typekit-Token:
      - 5e4ce50b7c5b996b2fb5e65ee4a6b870b9bd3297
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Remote-User:
      - '25026'
      Etag:
      - '"58b5c03ed0999955324ac392713f4784"'
    body:
      encoding: UTF-8
      string: '{"kit":{"id":"fla3cfh","name":"A new kit","analytics":false,"domains":["persazula.com"],"families":[]}}'
  recorded_at: Sun, 26 Apr 2015 19:48:58 GMT
recorded_with: VCR 2.9.3
