---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/libraries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Typekit-Token:
      - 5e4ce50b7c5b996b2fb5e65ee4a6b870b9bd3297
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"54f8212ec7e5d658d55ad0c9b337d0fb"'
    body:
      encoding: UTF-8
      string: '{"libraries":[{"id":"trial","link":"/api/v1/json/libraries/trial","name":"Trial
        Library"},{"id":"personal","link":"/api/v1/json/libraries/personal","name":"Personal
        Library"},{"id":"full","link":"/api/v1/json/libraries/full","name":"Full Library"}]}'
  recorded_at: Sun, 26 Apr 2015 13:46:37 GMT
recorded_with: VCR 2.9.3
